.game-bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-container {
  background-color: #222831;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 1.5rem;
}

.start-button {
  align-self: center;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #222831;
  border: none;
  border-radius: 0.5rem;
  background-color: #eeeeee;
}
